USE [master]
GO
/****** Object:  Database [cad_3dsm26]    Script Date: 24/03/2026 20:20:39 ******/
CREATE DATABASE [cad_3dsm26]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cad_3dsm26', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\cad_3dsm26.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cad_3dsm26_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\cad_3dsm26_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cad_3dsm26].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cad_3dsm26]
GO
/****** Object:  Table [dbo].[tb_cadastro]    Script Date: 24/03/2026 20:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cadastro](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[cpf] [varchar](14) NULL,
	[nome] [varchar](60) NULL,
	[data_nasc] [varchar](10) NULL,
	[fone] [varchar](18) NULL,
	[email] [varchar](60) NULL,
	[foto] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_produtos]    Script Date: 24/03/2026 20:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_produtos](
	[id_produto] [int] IDENTITY(1,1) NOT NULL,
	[nome_produto] [varchar](100) NULL,
	[descricao_produto] [varchar](100) NULL,
	[data_lote] [date] NULL,
	[marca_fabricante] [varchar](60) NULL,
	[categoria] [varchar](60) NULL,
	[quantidade] [int] NULL,
	[preco_custo] [money] NULL,
	[preco_venda] [money] NULL,
	[foto] [varchar](255) NULL,
	[numero_lote] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_produtos] ON 

INSERT [dbo].[tb_produtos] ([id_produto], [nome_produto], [descricao_produto], [data_lote], [marca_fabricante], [categoria], [quantidade], [preco_custo], [preco_venda], [foto], [numero_lote]) VALUES (1, N'TESTE', N'Teste', CAST(N'2026-02-25' AS Date), N'TESTE', N'B', 100, 120.0000, 120.0000, N'C:\Users\JoãoLamin\Documents\Prof.Humberto\prj_cadastro_3DSM_26_1S\bin\Debug\fotos\chave_inglesa.png', N'111-11')
INSERT [dbo].[tb_produtos] ([id_produto], [nome_produto], [descricao_produto], [data_lote], [marca_fabricante], [categoria], [quantidade], [preco_custo], [preco_venda], [foto], [numero_lote]) VALUES (2, N'TESTE 2', N'Teste 2', CAST(N'2026-02-15' AS Date), N'TESTE 2', N'B', 50, 1520.0000, 1530.0000, N'C:\Users\JoãoLamin\Documents\Prof.Humberto\prj_cadastro_3DSM_26_1S\bin\Debug\fotos\joana.jfif', N'222-22')
INSERT [dbo].[tb_produtos] ([id_produto], [nome_produto], [descricao_produto], [data_lote], [marca_fabricante], [categoria], [quantidade], [preco_custo], [preco_venda], [foto], [numero_lote]) VALUES (3, N'MOQUIDESIA FERRAMENTA', N'Moquidesia teste', CAST(N'2026-02-04' AS Date), N'FATEC', N'C', 40, 450.0000, 460.0000, N'C:\Users\JoãoLamin\Documents\Prof.Humberto\prj_cadastro_3DSM_26_1S\bin\Debug\fotos\moquidesia.jfif', N'333-33')
SET IDENTITY_INSERT [dbo].[tb_produtos] OFF
GO
USE [master]
GO
